<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>ftp-repository</id>
            <username>deltawinbo</username>
            <password>{KWW6K4bwZIsHwYBcgmca00UA3ot2WZR5giDpR+jCCXQ=}</password>
        </server>
    </servers>
</settings>